<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.orange.md/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/711px-Orange_logo.svg.png?20180710095027"
             width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:9090/web/base">Home</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:9090/web/new">New person</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:9090/web/all-person">All person</a>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col"><p>Name</p></th>
        <th scope="col"><p>Person value</p></th>
        <th scope="col">Credit score value
            <a style="float: right" th:href="@{/web/credit-score-report(creditScore=${creditScore.getId()})}">
            <button type="button" class="btn btn-primary" style="float: right">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-clipboard-data" viewBox="0 0 16 16">
                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"></path>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
                </svg>
            </button>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Age</th>
        <td th:text="${personalData.getAge()}"></td>
        <td th:text="${creditScore.getScoreByAge()}"></td>
    </tr>
    <tr>
        <th scope="row">Sex</th>
        <td th:text="${personalData.getSex()}"></td>
        <td th:text="${creditScore.getScoreBySex()}"></td>
    </tr>
    <tr>
        <th scope="row">Civil State</th>
        <td th:text="${personalData.getCivilState()}"></td>
        <td th:text="${creditScore.getScoreByCivilState()}"></td>
    </tr>
    <tr>
        <th scope="row">Family Members Number</th>
        <td th:text="${personalData.getFamilyMembersNumber()}"></td>
        <td th:text="${creditScore.getScoreByFamilyMembersNumber()}"></td>
    </tr>
    <tr>
        <th scope="row">Education Level</th>
        <td th:text="${personalData.getEducationLevel()}"></td>
        <td th:text="${creditScore.getScoreByEducationLevel()}"></td>
    </tr>
    <tr>
        <th scope="row">Home Place From</th>
        <td th:text="${personalData.getHomePlaceFrom()}"></td>
        <td th:text="${creditScore.getScoreByHomePlaceFrom()}"></td>
    </tr>
    <tr>
        <th scope="row">Email and Mobile Number</th>
        <td th:text="${personalData.getEmail()}"></td>
        <td th:text="${creditScore.getScoreByContactInformation()}"></td>
    </tr>
    <tr>
        <th scope="row">Credit score for applicant data</th>
        <td th:text="${creditScoreByPersonalDate}" style="text-align: right; font-weight:bold;" colspan="3">Larry the Bird</td>
    </tr>

    <tr>
        <th scope="row">Salary Mdl</th>
        <td th:text="${personalData.getSalaryMdl()}"></td>
        <td th:text="${creditScore.getScoreBySalaryNet()}"></td>
    </tr>
    <tr>
        <th scope="row">Other Profits</th>
        <td th:text="${personalData.getOtherProfits()}"></td>
        <td th:text="${creditScore.getScoreByIncomeOtherSources()}"></td>
    </tr>
    <tr>
        <th scope="row">Sources of income</th>
        <td th:text="${creditScoreBySourcesIncome}" style="text-align: right; font-weight:bold;" colspan="3"></td>
    </tr>

    <tr>
        <th scope="row">Activity Sector</th>
        <td th:text="${personalData.getActivitySector()}"></td>
        <td th:text="${creditScore.getScoreByActivitySector()}"></td>
    </tr>
    <tr>
        <th scope="row">Job Activity From</th>
        <td th:text="${personalData.getJobActivityFrom()}"></td>
        <td th:text="${creditScore.getScoreByJobActivityFrom()}"></td>
    </tr>
    <tr>
        <th scope="row">Activity Sector total scoring</th>
        <td colspan="3" style="text-align: right; font-weight:bold;" th:text="${creditScoreBySectorActivity}"></td>
    </tr>

    <tr>
        <th scope="row">Delays</th>
        <td>---</td>
        <td th:text="${creditScore.getScoreByDelaysDay()}"></td>
    </tr>
    <tr>
        <th scope="row">Amount owed(MDL)</th>
        <td>---</td>
        <td th:text="${creditScore.getScoreByDebtAmountMDL()}"></td>
    </tr>
    <tr>
        <th scope="row">Loan repayment history</th>
        <td style="text-align: right; font-weight:bold;" th:text="${creditScoreByLoanRepaymentHistory}" colspan="3"></td>
    </tr>
    <tr>
        <th scope="row">Total scoring</th>
        <td style="text-align: right; font-weight:bold;" th:text="${generalCreditScore}" colspan="3"></td>
    </tr>
    </tbody>
</table>
<a style="float: right" th:href="@{/web/more-information(totalCreditScore=${generalCreditScore})}">
    <button type="button" class="btn btn-primary" style="float: right" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        More information
    </button>
</a>
</body>
</html>