<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .div-border {
            border: 2px solid white;
            padding: 10px;
            border-radius: 25px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.orange.md/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/711px-Orange_logo.svg.png?20180710095027"
             width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:9090/web/base">Home</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:9090/web/new">New person</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:9090/web/all-person">All person</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row" style="width: 99%;">
    <div class="col-4">
        <div style=" color: orange; width: 100%;">
            <img class="card-img-top"
                 src="https://www.nfcc.org/wp-content/uploads/2020/09/bigstock-Credit-Score-Concept-Business-384487778.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="">Information</h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text=" ${totalCreditScore}"></h6>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div style="color: orange; width: 100%;">
            <div class="card-body">
                <h6 class="card-title" style="">Information</h6>
                <div class="div-border" th:style="${typeOfCreditScore == 'Poor' ? 'border-color:orange' : 'border-color:white'}">
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">Scor de credit SLAB (300-450)</p>
                    <p class="card-text" style="color: black; font-size: 11px;">Aceasta este cea mai slabă categorie a
                        scorului de credit.
                        Dacă ai un
                        scor cu valori cuprinse între 300 și 450 este foarte probabil ca instituțiile financiare să
                        nu-ți
                        aprobe
                        cererea de împrumut.
                        În majoritatea cazurilor, un scor în această categorie semnalizează creditorului următoarele
                        evenimente
                        negative despre un potențial client: a fost anterior executat silit, înregistrează întârzieri de
                        plată la
                        unul sau mai multe împrumuturi contractate sau este supra-îndatorat.
                    </p>
                </div>
                <div class="div-border" th:style="${typeOfCreditScore == 'Below average' ? 'border-color:orange' : 'border-color:white'}">
                <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">Scor de credit SUB MEDIE (451-550)</p>
                <p class="card-text" style="color: black; font-size: 11px"> Dacă scorul tău de credit se încadrează în
                    această
                    categorie, va fi
                    dificil să apelezi la un credit, însă vor exista instituții financiare nebancare (IFN) care ar putea
                    să-ți
                    prezinte oferte de împrumut specifice acestei categorii.
                    Este posibil să primește un credit mai mic cu o dobândă mai mare. De cele mai multe ori, persoanele
                    care au
                    un scor de credit cuprins între 450 și 550 au întârziat cu plata ratelor și trebuie să-și mărească
                    scorul
                    pentru a putea beneficia de oferte mai bune de credit.
                </p>
                </div>
                <div class="div-border" th:style="${typeOfCreditScore == 'Medium' ? 'border-color:orange' : 'border-color:white'}">
                <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">Scor de credit MEDIU (551-650)</p>
                <p class="card-text" style="color: black; font-size: 11px"> Un scor de credit între 551 și 650 poate fi
                    considerat mediu
                    și
                    înseamnă că vei putea beneficia și de oferte de împrumuturi din partea instituțiilor bancare, dacă
                    ai un
                    venit lunar stabil.
                    Dacă scorul tău face parte din această categorie înseamnă că: nu ai un istoric mare de creditare, ai
                    amânat
                    ocazional plata ratelor sau ai prea multe credite active.
                </p>
                </div>
                <div class="div-border" th:style="${typeOfCreditScore == 'Good' ? 'border-color:orange' : 'border-color:white'}">
                <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">Scor de credit BUN (651-750)</p>
                <p class="card-text" style="color: black; font-size: 11px"> Dacă scorul tău face parte din această
                    categorie, atunci nu
                    vei
                    întâmpina dificultăți în obținerea unui împrumut de tip: card de credit, linie de credit, overdraft
                    sau
                    credit ipotecar. Majoritatea instituțiilor financiare îți vor accepta creditul solicitat.
                    Singurul motiv pentru care ar putea să-ți fie refuzat creditul este dacă suma solicitată este mult
                    prea mare
                    pentru veniturile pe care le deții, deoarece băncile vor considera că este imposibil să achiți
                    creditul la
                    timp.
                </p>
                </div>
                <div class="div-border" th:style="${typeOfCreditScore == 'Impressive' ? 'border-color:orange' : 'border-color:white'}">
                <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">Scor de credit IMPRESIONANT
                    (751-850)</p>
                <p class="card-text" style="color: black; font-size: 11px"> Acest scor este considerat excelent de către
                    creditori.
                    Orice instituție financiară bancară sau nebancară îți va aproba cererea de împrumut.
                    Însă, pentru a ajunge să obții un astfel de scor, trebuie să fii considerat bun platnic timp de ani
                    de zile și să nu fii înregistrat la Biroul de credit cu rate restante.
                    Dacă reușești să obții un scor de credit peste 800 atunci poți să ceri oferte mai bune din partea
                    instituțiilor financiare deoarece acestea și-ar dori să te aibă drept client.

                </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>